<p id="notice"><%= notice %></p>
    
<div class="well">
  <div class="row">
    <div class="col-lg-12">
      <p>
        <strong>Title:</strong><br />
        <%= @article.title %>
      </p>
      <hr>
      <p>
        <strong>Description:</strong><br />
        <%= @article.description %>
      </p>
      <hr>
      <p>
        <strong>Body:</strong><br />
        <div style="word-wrap: break-word; overflow-y: hidden;">
        <%= @article.body %>
        </div>
      </p>
      <hr>
      <p>
        Created by: <%= @article.user.username %>
      </p>
      <%= link_to 'Edit', edit_article_path(@article) %> |
      <%= link_to 'Back', articles_path %>
    </div> 
  </div>
</div>